# Local Vector Store Path
CHROMA_PERSIST_DIR = ./chroma_db

# Gemini LLM Credentials
GEMINI_API_KEY = "Your Gemini API Key"
GROQ_API_KEY = "Your GROQ API Key"

HF_TOKEN = "Not compulsory but preferred, Hugging Face Token"